@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d6d3d1;
  margin-inline: 70px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* nav ul li ::after {
  content: "";
  background: red;
  height: 3px;
  width: 0%;
  display: block;
}
nav ul li :hover::after {
  width: 100%;
} */

nav ul li {
  /* position: relative; */
}
/* nav ul li ::after {
  content: "";
  display: block;
  background: red;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
}

nav ul li:hover ::after {
  width: 100%;
} */
